.container-page {
    margin: 0;
    border: 0;
    padding: 1em;
}

.container-header {
    /* riprendere successivamente il discorso pattern */
    /* background-image: url(img/pattern.png) 100%;  */
    background-color: rgb(127, 221, 247);
    height: 80px;
}

.logo-header {
    width: 100px;
    padding-top: 40px;
    text-shadow: 2px 2px 4px #000000;
}
